# Copy this file to .env and fill in your values
DOCUMENTDB_URI=mongodb://<username>:<password>@localhost:10260/?tls=true&tlsAllowInvalidCertificates=true&authMechanism=SCRAM-SHA-256
DB_NAME=sampledb
PORT=3000
