DOCUMENTDB_URI=mongodb://<username>:<password>@localhost:10260/?tls=true&tlsAllowInvalidCertificates=true&authMechanism=SCRAM-SHA-256
DOCUMENTDB_DATABASE=clinicaldb
DOCUMENTDB_COLLECTION=notes
OLLAMA_BASE_URL=http://127.0.0.1:11434
OLLAMA_EMBEDDING_MODEL=nomic-embed-text
FLASK_PORT=5001
NEAREST_NEIGHBORS=5
EMBEDDING_DIMENSIONS=768
